@if (authStore.isAuthenticated()) { 
  @if (authStore.isAdmin()) {
  <mat-drawer-container class="globalContent" autosize>
    <mat-drawer #drawer class="adminNavBar" mode="side">
      <div class="PCS">
        <p>PCS Admin Panel</p>
      </div>
      <div class="navbarButton">
        <button routerLink="admin/users" routerLinkActive="current">
          Utilisateurs
        </button>
        <br />
        <button routerLink="admin/property" routerLinkActive="current">
          Gestion propriétés
        </button>
        <br />
        <button routerLink="admin/review" routerLinkActive="current">
          Gestion avis
        </button>
        <br />
        <button routerLink="admin/provider" routerLinkActive="current">
          Gestion prestations
        </button>
        <br />
        <button routerLink="admin/tools" routerLinkActive="current">Outil</button>
        <br />
        <button (click)="logout()">Déconnexion</button>
      </div>
      <div class="adminFooter">
        <p>ACE&#64;2024</p>
        <p>ace&#64;support.fr</p>
      </div>
    </mat-drawer>

    <div class="actualPage">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon fontIcon="notes" aria-label="navbarButton"></mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
  }
  @else {
  <mat-toolbar color="primary">
    <div class="flex flex-row gap-4">
      <a routerLink="/">PCS</a>
      <button mat-button routerLink="/bookings">Bookings</button>
    </div>
    <ace-account-dropdown class="ml-auto scale-150"></ace-account-dropdown>
  </mat-toolbar>
  <div class="m-5 h-screen">
      <router-outlet>
      </router-outlet>
  </div>
  }
}
@else {
  <mat-toolbar color="primary">
    <div class="flex flex-row">
      <a routerLink="/">PCS</a>
      <button routerLink="login" mat-button>Login</button>
      <button routerLink="register" mat-button>Register</button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
}
