<section class="flex justify-center items-start mt-16">
    <div class="bg-primary rounded-md w-1/2 p-5 max-w-md">
        <h1 class="text-secondary text-center text-2xl mb-5">Login</h1>
        <form 
            class="flex flex-col justify-center"
            [formGroup]="loginForm" 
            (ngSubmit)="onLogin()">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input 
                    matInput 
                    formControlName="email" 
                    name="email" 
                    placeholder="Enter your email" 
                    type="email">
            </mat-form-field>
            <span class="text-error" *ngIf="email.touched && email.errors?.['required']">Email is required</span>
            <span class="text-error" *ngIf="email.touched && email.errors?.['email']">Email needs to be in email format</span>
            
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input 
                    matInput 
                    formControlName="password" 
                    name="password" 
                    placeholder="Enter your password" 
                    type="password">
            </mat-form-field>

            <ul *ngIf="password.touched">
                <li class="text-error" *ngIf="password.errors?.['required']">
                    <small>Password is required</small>
                </li>
                <li class="text-error" *ngIf="password.errors?.['hasNumeric']">
                    <small>Password must contain 1 number (0-9)</small>
                </li>
                <li class="text-error" *ngIf="password.errors?.['hasUpperCase']">
                    <small>Password must contain 1 uppercase letters</small>
                </li>
                <li class="text-error" *ngIf="password.errors?.['hasLowerCase']">
                    <small>Password must contain 1 lowercase letters</small>
                </li>
                <li class="text-error" *ngIf="password.errors?.['hasSpecialCharacter']">
                    <small>Password must contain 1 non-alpha numeric number</small>
                </li>
                <li class="text-error" *ngIf="password.errors?.['minLength'] && password.errors?.['maxLength']">
                    <small>Password is 8-16 characters with no space</small>
                </li>
            </ul>
            
            <button 
                class="text-tertiary"
                mat-raised-button 
                [disabled]="loginForm.invalid" 
                type="submit">
                Sign in
            </button>
        </form>
    </div>
</section>