<section class="flex justify-center items-start mt-16">
    <div class="bg-primary rounded-md w-1/2 p-5 max-w-md">
        <h1 class="text-secondary text-center text-2xl mb-5">Login</h1>
        <form 
            class="flex flex-col justify-center"
            [formGroup]="loginForm" 
            (ngSubmit)="onLogin()">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input 
                    matInput 
                    formControlName="email" 
                    name="email" 
                    placeholder="Enter your email" 
                    type="email">
            </mat-form-field>
            <span class="text-error" *ngIf="email.touched && email.errors?.['required']">Email is required</span>
            <span class="text-error" *ngIf="email.touched && email.errors?.['email']">Email needs to be in email format</span>
            
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input 
                    matInput 
                    formControlName="password" 
                    name="password" 
                    placeholder="Enter your password" 
                    type="password">
            </mat-form-field>

            <small class="text-error" *ngIf="password.touched && password.errors?.['required']">Password is required</small>
            <!-- TODO: find a way to make progressive validation (P.S: I'm lazy) -->
            <small class="text-error" *ngIf="password.touched && password.errors?.['pattern']">
                <ul>
                    <li>Password must contain 1 number (0-9)</li>
                    <li>Password must contain 1 uppercase letters</li>
                    <li>Password must contain 1 lowercase letters</li>
                    <li>Password must contain 1 non-alpha numeric number</li>
                    <li>Password is 8-16 characters with no space</li>
                </ul>
            </small>
            
            <button 
                class="text-tertiary"
                mat-raised-button 
                [disabled]="loginForm.invalid" 
                type="submit">
                Sign in
            </button>
        </form>
    </div>
</section>