@if (booking) {
    <h1>Booking Details</h1>
    <div class="flex flex-row gap-4">
        <div>
            <label>Booking ID:</label>
            <span> {{ booking.id }}</span>
        </div>
        <div>
            <label>Booking Status:</label>
            <span> {{ booking.status }}</span>
        </div>
        <div class="flex flex-col">
            <p>Requested services</p>
            @for (intervention of booking.interventions; track $index) {
                <p>Intervention #{{ intervention.id }} </p>
                <p>Status: {{ intervention.status }} </p>
                <button (click)="intervene(intervention)">Intervene</button>
            }
        </div>
    </div>
}
@else {
    <p>Booking not found!</p>
}