<div class="flex flex-row">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Contact</mat-card-title>
            <mat-card-subtitle>Do you have an issue ? Please fill in the form below, technical service will handle it</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <button mat-button routerLink="contact">Create a ticket</button>
        </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>My tickets</mat-card-title>
            <mat-card-subtitle>Track the status of your tickets</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <button mat-button routerLink="tickets">View tickets</button>
        </mat-card-content>
    </mat-card>
</div>