<ace-table
  [datasource]="this.usersStore.users()"
  [columns]="columns"
  [actionTemplate]="actionTemplate"
>
@if (usersStore.usersCount() == 0) {
    <p emptyMessageDisplay>There are no users at the moment</p>
  }
  <ng-template #actionTemplate let-row>
    <button mat-flat-button (click)="editRow(row)" matTooltip="Edit">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-flat-button (click)="deleteRow(row)" matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</ace-table>
