<section class="flex justify-center items-start mt-16">
  <div class="bg-primary rounded-md w-1/2 p-5 max-w-md">
    <h1 class="text-secondary text-center text-2xl mb-5">Rent a property</h1>
    <form
      class="flex flex-col justify-center gap-2"
      [formGroup]="propertyForm"
      (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Name of the property</mat-label>
        <input
          matInput
          formControlName="name"
          name="name"
          placeholder="Enter the name of the property"
          type="text"
          required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          name="description"
          placeholder="Describe the property in a few words"
          required
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Property type</mat-label>
        <mat-select 
        formControlName="propertyType"
        placeholder="(Ex. house, apartment, etc.)"
        required
        >
          @for (type of propTypes; track $index) {
            <mat-option [value]="type">{{ type | titlecase }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Price (€)</mat-label>
        <input
          matInput
          formControlName="pricePerNight"
          name="pricePerNight"
          placeholder="Define the price of the property per night"
          type="number"
          min="0"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Capacity</mat-label>
        <input
          matInput
          formControlName="capacity"
          name="capacity"
          placeholder="Number of people the property can accommodate"
          type="number"
          min="1"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Surface (m²)</mat-label>
        <input
          matInput
          formControlName="surface"
          name="surface"
          placeholder="Surface of the property in square meters"
          type="number"
          min="1"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rooms</mat-label>
        <input
          matInput
          formControlName="roomCount"
          name="roomCount"
          placeholder="Number of rooms in the property"
          type="number"
          min="1"
          required
        />
      </mat-form-field>

      <!-- Upload example -->
      <ace-upload [maxFiles]="5" (uploadFiles)="getFiles($event)"></ace-upload>

      <div formArrayName="availabilities">
        <div *ngFor="let availability of availabilities().controls; let i = index" [formGroupName]="i">
          <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [min]="minDate" [max]="maxDate" [rangePicker]="picker">
              <input matStartDate formControlName="from" placeholder="Start date">
              <input matEndDate formControlName="to" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
      
          <mat-error *ngIf="availability.get('from')?.hasError('required')">
            Start date is required.
          </mat-error>
          <mat-error *ngIf="availability.get('to')?.hasError('required')">
            End date is required.
          </mat-error>
      
          <button type="button" mat-fab-button (click)="removeAvailability(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <button mat-raised-button color="primary" (click)="addAvailability()">Add</button>
      </div>

      <button
        class="bg-tertiary"
        mat-raised-button
        [disabled]="propertyForm.invalid"
        type="submit"
      >
        Create the property
      </button>
    </form>
  </div>
</section>