@if (propertiesStore.isLoading()) {
    <mat-spinner class="absolute left-1/2 top-1/2"></mat-spinner>
}
@else if (propertiesStore.properties().length === 0) {
    <div class="flex justify-center items-center">
        <p>No properties found</p>
    </div>
}
@else {
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  @for (property of propertiesStore.properties(); track $index) {
      <mat-card class="container max-w-md shadow-2xl">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ property.name}}</mat-card-title>
            <mat-card-subtitle>{{ property.propertyType | titlecase }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{cdnUrl}}/{{property.images[0].path }}" alt="Preview">
          <mat-card-content>
            <p>
              {{ property.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
              <button mat-button [routerLink]="['/property', property.id]">View</button>
              <button mat-flat-button>
                  <mat-icon>favorite</mat-icon>
              </button>
          </mat-card-actions>
      </mat-card>
  }
  </div>
}
