@if (property) {
    <h1 class="text-center"> {{ property.name }} </h1>
    <div class="rounded-lg border-8 border-primary h-screen border-spacing-5 flex flex-col p-8">
        <div class="justify-center flex flex-row space-x-4">
            <img class="w-[642px] h-[450px] rounded-lg" src="{{ cdnUrl }}/{{property.images[0].path}}" alt="">
            <div class="grid grid-cols-2 gap-4">
                <img class="w-[251px] h-[217px] rounded-lg" src="{{ cdnUrl }}/{{property.images[0].path}}" alt="">
                <img class="w-[251px] h-[217px] rounded-lg" src="{{ cdnUrl }}/{{property.images[0].path}}" alt="">
                <img class="w-[251px] h-[217px] rounded-lg" src="{{ cdnUrl }}/{{property.images[0].path}}" alt="">
                <img class="w-[251px] h-[217px] rounded-lg" src="{{ cdnUrl }}/{{property.images[0].path}}" alt="">
            </div>
        </div>
        <div class="flex flex-row space-x-4">
            <div class="flex flex-col rounded-lg border-4 w-5/6 p-2">
                <h1>Description:</h1>
                <p>{{ property.description }}</p>
                <div class="flex flex-row gap-2">
                    <img class="rounded-full w-8" src="https://static1.personality-database.com/profile_images/b26440de6219476fac77635a298af98d.png" alt="">
                    <p>Propriétaire: {{ property.lessor.firstname }} {{ property.lessor.lastname }} </p>
                </div>
                @if (property.lessor.review) {
                    <p>Review : {{ property.lessor.review }}/5 </p>
                } @else {
                    <p>Review : No reviews yet </p>
                }
            </div>
            <div class="flex flex-col rounded-lg border-4 w-1/6 justify-center align-middle text-center">
                <h1>Price: {{ property.price | currency: 'EUR' }} </h1>
                <mat-form-field>
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                      <input matStartDate formControlName="start" placeholder="Start date">
                      <input matEndDate formControlName="end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  
                    @if (range.controls.start.hasError('matStartDateInvalid')) {
                      <mat-error>Invalid start date</mat-error>
                    }
                    @if (range.controls.end.hasError('matEndDateInvalid')) {
                      <mat-error>Invalid end date</mat-error>
                    }
                  </mat-form-field>
                  
                  
                  <button mat-button (click)="reserveProperty(property)">
                    Reserve
                </button>
                <p>Selected range: {{range.value | json}}</p>
            </div>
        </div>
    </div>
}
