@if (property) {
    <h1 class="text-center"> {{ property.name }} </h1>
    <div class="rounded-lg border-8 border-primary border-spacing-5 flex flex-col p-8 gap-2">
        <div class="justify-center flex flex-row space-x-4">
            <img class="w-[642px] h-[450px] rounded-lg" src="{{ cdnUrl }}/{{property.images[0].path}}" alt="">
            <div class="grid grid-cols-2 gap-4">
                <img class="w-[251px] h-[217px] rounded-lg" src="{{ cdnUrl }}/{{property.images[1].path}}" alt="">
                <img class="w-[251px] h-[217px] rounded-lg" src="{{ cdnUrl }}/{{property.images[2].path}}" alt="">
                <img class="w-[251px] h-[217px] rounded-lg" src="{{ cdnUrl }}/{{property.images[3].path}}" alt="">
                <img class="w-[251px] h-[217px] rounded-lg" src="{{ cdnUrl }}/{{property.images[4].path}}" alt="">
            </div>
        </div>
        <div class="flex flex-row space-x-4">
            <div class="flex flex-col rounded-lg border-4 w-5/6 p-2">
                <h1 class="underline">Description:</h1>
                <p>{{ property.description }}</p>
                <div class="flex flex-row gap-2">
                    <img class="rounded-full w-8" [src]="cdnUrl + '/' + property.lessor.profile_picture?.path" alt="">
                    <p>Lessor: {{ property.lessor.firstname }} {{ property.lessor.lastname }} </p>
                </div>
            </div>
            <div class="flex flex-col rounded-lg border-4 w-1/6 justify-center align-middle text-center">
                <h1><span class="underline">Price:</span> {{ computedPrice() | currency: 'EUR' }} ({{ property.pricePerNight | currency: 'EUR' }}/night) </h1>
                @if (authStore.isAuthenticated()) {
                    <mat-form-field>
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [min]="minDate" [max]="maxDate" [formGroup]="range" [rangePicker]="picker" [dateFilter]="dateFilter">
                        <input matStartDate formControlName="from" placeholder="Start date">
                        <input matEndDate formControlName="to" placeholder="End date">
                        </mat-date-range-input>
                        <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    
                        @if (range.controls.from.hasError('matStartDateInvalid')) {
                        <mat-error>Invalid start date</mat-error>
                        }
                        @if (range.controls.to.hasError('matEndDateInvalid')) {
                        <mat-error>Invalid end date</mat-error>
                        }
                    </mat-form-field>
                  
                    <button mat-button (click)="reserveProperty()">
                        Reserve
                    </button>
                }
                @else {
                    <button mat-button routerLink="/login" >
                        Login to reserve
                    </button>
                }
                @for (item of cart; track $index) {
                    <div class="flex flex-row space-x-2">
                        <p>{{ item.name }}</p>
                        <p>{{ item.price | currency: 'EUR' }}</p>
                        <button mat-button (click)="removeServiceFromCart(item)">
                            Remove
                        </button>
                    </div>
                }
            </div>
        </div>
        <div class="flex flex-col rounded-lg border-4 w-5/6 p-2">
            @if (property.reviews) {
                <p>Reviews :</p>
                @for (review of property.reviews; track $index) {
                    <p>Rating : {{ review.rating }}/5 </p>
                    <p>Comment: {{ review.comment }}</p>
                }
            } @else {
                <p>Reviews : No reviews yet </p>
            }
        </div>
        <!-- <div class="flex flex-col rounded-lg border-4 w-5/6 p-2">
            <h2 class="underline">Available services</h2>
            @for (service of servicesStore.services(); track $index) {
                <div class="flex flex-row space-x-4">
                    <div class="flex flex-col w-5/6">
                        <h3>{{ service.name }}</h3>
                        <p>{{ service.description }}</p>
                        <p>Price: {{ service.price | currency: 'EUR' }}</p>
                        <button mat-button (click)="addServiceToCart(service)">
                            Add to cart
                        </button>
                    </div>
                </div>
            }
        </div> -->
        <!-- <div class="flex flex-col rounded-lg border-4 w-5/6 p-2">
            <h2 class="underline">Comments</h2>
            <div class="flex flex-col space-y-2">
                @for (comment of property.comments) {
                    <div class="flex flex-row space-x-2">
                        <img class="rounded-full w-8" [src]="cdnUrl + '/' + comment.sent_by.profile_picture?.path" alt="">
                        <div class="flex flex-col">
                            <p>{{ comment.sent_by.firstname }} {{ comment.sent_by.lastname }}</p>
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                }
        </div> -->
    </div>
}
