@if (service) {
    <div class="flex flex-row h-full w-max-full">
        <div class="flex flex-col border-4 w-1/2 gap-4 text-center">
            <h2>Name: {{ service.name }}</h2>
            <p>Description: {{ service.description }}</p>
            <p>Service type: {{ service.service_type }} </p>
            <p>Status: {{ service.status }}</p>
            <p>Headcount: {{ service.effectif }}</p>
            <p>Price: {{ service.price | currency: 'EUR' }}</p>
        </div>
        <div class="flex flex-col border-4 w-1/2">
            <full-calendar [options]="calendarOptions()"></full-calendar>
        </div>
    </div>
}
@else {
    <div>
        <h2>Service not found</h2>
    </div>
}