@if (service) {
    <div class="flex flex-row h-full w-max-full">
        <div class="flex flex-col border-4 w-1/2 gap-4 text-center">
            <h2>Name: {{ service.name }}</h2>
            <p>Description: {{ service.description }}</p>
            <p>Service type: {{ service.service_type }} </p>
            <p>Status: {{ service.status }}</p>
            <p>Headcount: {{ service.effectif }}</p>
            <p>Price: {{ service.price | currency: 'EUR' }}</p>

            <h1 class="underline border">Create availabilities</h1>
            <form 
                [formGroup]="availabilitiesForm"
                (ngSubmit)="onSubmit()"
                >
                <div formArrayName="availabilities">
                    <div *ngFor="let availability of availabilities().controls; let i = index" [formGroupName]="i">
                      <mat-form-field>
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [min]="minDate" [max]="maxDate" [rangePicker]="picker">
                          <input matStartDate formControlName="from" placeholder="Start date">
                          <input matEndDate formControlName="to" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                  
                      <mat-error *ngIf="availability.get('from')?.hasError('required')">
                        Start date is required.
                      </mat-error>
                      <mat-error *ngIf="availability.get('to')?.hasError('required')">
                        End date is required.
                      </mat-error>
                  
                      <button type="button" mat-fab-button (click)="removeAvailability(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <button mat-raised-button color="secondary" (click)="addAvailability()">Add</button>
                </div>
                <button class="m-4" mat-raised-button color="primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="flex flex-col border-4 w-1/2">
            <mat-calendar [dateFilter]="isDateDisabled">
            </mat-calendar>
        </div>
    </div>
}
@else {
    <div>
        <h2>Service not found</h2>
    </div>
}