<section class="flex justify-center items-start mt-16">
  <div class="bg-primary rounded-md w-1/2 p-5 max-w-md">
    <h1 class="text-secondary text-center text-2xl mb-5">Créer un service</h1>
    <form
      class="flex flex-col justify-center"
      [formGroup]="serviceForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="fill">
        <mat-label>Nom du service</mat-label>
        <input
          matInput
          formControlName="name"
          name="name"
          placeholder="Entrez le nom du service"
          type="text"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          name="description"
          placeholder="Décrivez le service"
          required
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Type de service</mat-label>
        <input
          matInput
          formControlName="service_type"
          name="service_type"
          placeholder="Type de service (ex. nettoyage, restauration)"
          type="text"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Prix (€)</mat-label>
        <input
          matInput
          formControlName="price"
          name="price"
          placeholder="Définissez un prix"
          type="number"
          min="0"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Effectif requis</mat-label>
        <input
          matInput
          formControlName="effectif"
          name="effectif"
          placeholder="Nombre de personnes nécessaires"
          type="number"
          min="1"
          required
        />
      </mat-form-field>

      <button
        class="bg-tertiary"
        mat-raised-button
        [disabled]="serviceForm.invalid"
        type="submit"
      >
        Créer le service
      </button>
    </form>
  </div>
</section>
