@if (ticket) {
    <div>
        <h1>Topic: {{ ticket.topic }}</h1>
        <p>Description: {{ ticket.description }}</p>
    <div class="ticket-discussion">
        <h2>Discussion</h2>
        <form
        [formGroup]="commentForm"
        (ngSubmit)="onCommentSubmit()"
        class="example-form">
            <mat-form-field>
              <mat-label>Leave a comment</mat-label>
              <textarea
                matInput
                formControlName="comment"
                name="comment"
                required
                placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
            <button mat-button type="submit">Comment</button>
        </form>
        <ul>
            @for (comment of ticket.comments; track $index) {
                <li>
                    <div class="comment">
                        <div class="author">{{ comment.sent_by.email }}</div>
                        <div class="message">{{ comment.content }}</div>
                        <div class="timestamp">{{ comment.updated_at | date }}</div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

}